<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="./public/css/default.css" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.js"></script>
<script src="./public/javascript/zebra_datepicker.js"></script>
<script>
    $(function(){
        if ($('.data').size() > 0){
            $('.data').dataTable({
                "sPaginationType": "bootstrap",
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                }
            });
        }

        $('#date_picker').Zebra_DatePicker();
    });
</script>