<div id="friend10" style="display:none;width:480px">
    <img src="img/choose-button.png">
    <div class="button" style="margin-top:-35px">
        <a href="#" id="okay_button_friend"><img src="img/ok.png"></a>
    </div>
</div>

<div id="likeUs" style="display:none;width:810px">
	<img src="img/like_us.png">
</div>

<div id="step1" style="display:none;width:480px">
    <img src="img/step1.png">
    <div class="button" style="margin-top:-35px">
        <a class="skip_tutorial" href="#"><img src="img/button_skip.png"></a>
        <a id="next_step2" href="#"><img src="img/button_next.png"></a>
    </div>
</div>

<div id="step2" style="display:none;width:480px">
    <img src="img/step2.png">
    <div class="button" style="margin-top:-35px">
        <a class="skip_tutorial" href="#"><img src="img/button_skip.png"></a>
        <a id="next_step3" href="#"><img src="img/button_next.png"></a>
    </div>
</div>

<div id="ready" style="display:none;width:383px">
    <img src="img/ready.png">
    <div class="button" style="margin-top:-35px">
        <a id="finish_tutorial" href="#"><img src="img/button_start.png"></a>
    </div>
</div>

<div id="gameOver" style="display:none;width:383px">
    <img src="img/gameOver.png">
    <div class="button" style="margin-top:-35px">
        <a href="game.php"><img src="img/button_playAgainYellow.png"></a>
    </div>
</div>

<div id="register" style="display:none;width:560px">
	<h2>JOIN THIS CONTEST NOW!</h2>
	<form>
		<div><label>NAME</label>: <input type="text" id="register_name"></div>
		<div><label>PHONE NUMBER</label>: <input type="text" id="register_phone"></div>
		<div><label>EMAIL ADDRESS</label>: <input type="text" id="register_email"></div>
        <span id="register_error" class="error" style="display: none">Error message here</span>
        <div style="margin:16px 0">
			*CLICK <a href="http://dominos.com.sg" target="blank">HERE</a> TO REGISTER NOW!
			<input type="reset">
		</div>
		<div class="button">
			<a href="#" id="register_button"><img src="img/button_submit.png"></a>
		</div>
	</form>
</div>

<div id="freebies" style="display:none;width:560px">
	<h2>FREEBIES</h2>	
	<img src="img/freebies.png">
</div>

<div id="congrat" style="display:none;width:585px">
	<h2>Congratulations!</h2>
	<table class="left" width="270">
		<tr>
			<td class="title">GAME POINTS</td>
			<td class="ops"></td>
			<td><span class="red_circle" id="game_points">0</span></td>
		</tr>
		<tr>
			<td class="title">INVITE FRIEND POINTS</td>
			<td class="ops">+</td>
			<td><span class="red_circle" id="friends_points">0</span></td>
		</tr>
		<tr>
			<td class="title">CHEESY CRUST POINTS</td>
			<td class="ops">x</td>
			<td><span class="red_circle" id="submission_points">0</span></td>
		</tr>
		<tr>
			<td>TOTAL POINTS</td>
			<td colspan="2"><span class="total" id = "total_number_win">0</span></td>
		</tr>
	</table>
	<div class="left">
		<div class="you_have_won">	
			<ul>
				<li >&bull; <span id="gift_description">Free 1 Breadstix</span></li>
			</ul>
			<p>Freebies will be credited into your account as <br>eCoupons. Terms & Conditions apply. <br>Don't forget to redeem them on our website!</p>
		</div>		
	</div>
	<div class="button">
		<a href="game.php"><img src="img/button_playAgainBlue.png"></a>
		<a href="#" id="invite_10_friends"><img src="img/button_invite.png"></a>
	</div>
</div>

<div id="tnc" style="display:none;width:550px">
	<h2>TERMS & CONDITIONS</h2>
	<div style="height:680px;width:490px;overflow:auto">
		<p>This Cheesy Crust Eat, Play & Win Online Contest [“Contest”] begins 27/01/2014 and ends 9/03/2014 [“the Contest Period”].</p>
		<p>This Contest is organised by Domino’s Pizza Singapore Pte Ltd (Domino’s Pizza) [“the Organiser”], and the Organiser reserves the right to end or extend the Contest Period at any time without prior notice.</p>
		<p>This Contest is open to all residents of Singapore, except employees and immediate family members of the Organiser, and their developer, advertising, promotion, event and PR agencies.</p>
		<p>How to play:</p>
		<ol>
			<li>Before playing the game, users are required to Like the Domino’s Pizza Singapore Facebook page.</li>
			<li>They are then required to submit their full name, mobile phone number and email address registered on http://www.dominos.com.sg.</li>
			<li>In the event that the user is not registered on the Domino’s Pizza Singapore website, they will be required to do so before playing the game to be eligible to win prizes.</li>
			<li>Users will only be in the running for the weekly contest with any online purchase of Cheesy Crust pizzas. In the event that the user did not purchase any Cheesy Crust pizzas online, they will only be able to redeem the freebies based on the time taken to finish the game.</li>
			<li>The email address submitted will be used to verify the Cheesy Crust purchased online in order to be eligible to win the prizes.</li>
			<li>The objective of the game is to match the pairs of products in the fastest time.</li>
			<li>Users are required to click on the pizza boxes to find the matching pairs within 120 seconds.</li>
			<li>The following are the freebies that the user may redeem according to the time frames stated:<br>
			&bullet; If the user completes the game within 0-40 seconds, they are entitled to 50% OFF either Golden Roasted Drummet OR Crazy Chicken Crunchies (Original/ Tom Yam) that will be selected randomly with the purchase of 1 Personal Pizza at standard menu price.<br>
			&bullet; If the user completes the game within 41-120 seconds, they are entitled to 1 FREE Breadstix OR Cinnastix OR Twisty Bread OR Onion Rings that will be selected randomly with the purchase of 1 Personal Pizza at standard menu price.<br>
			&bullet; Free product is not exchangeable for cash.</li>
			<li>An email will be sent to the user, and the freebies will be credited to the user profile on the Domino’s Pizza Singapore website as ecoupons.</li>
			<li>The user score in the running for the contest will be based on their highest score submitted.</li>
			<li>Participants will need to make a purchase of the Cheesy Crust pizza and play the game in order to be eligible to win the prizes.</li>
			<li>Weekly winners will be based on the highest scores, which are calculated by multiplying the highest game score of the week obtained in the contest by the Cheesy Crust points.<br>
                Cheesy Crust Points:<br>
                1 Regular Cheesy Crust Pizza = 2 Points<br>
                1 Large Cheesy Crust Pizza = 3 Points<br>

                Formula: [Highest game score for the week] x [Number of Cheesy Crust Pizza Purchased & sizes] = Final Score<br><br>
                E.G: 1,000 points (Highest game score for the week) x 6 points (if 2 Large Cheesy Crust Pizza Purchased) = 6,000 points<br><br>
                In the event of a tie, priority will be given to the contestant with the highest number of Cheesy Crust pizza purchased online.
            </li>
			<li>Game scores are calculated by the time taken to complete the game according to the countdown timer, with 1 second remaining translating to 5 points. E.g. If a player completes the game within 30 seconds, the countdown timer that starts with 45 seconds will then display 15 seconds at the end of the game. The number shown on the countdown timer translates to the number of points earned, multiplied by 5.</li>
			<li>In order to earn an extra 10 points, users are allowed to invite their friends to play the game.<br>
			Prizes:<br>
			<table border="1">
                <tbody>
                    <tr>
                        <td rowspan="2">Contest Weeks</td>
                        <td colspan="2">Weekly Prize</td>
                        <td>Weekly Consolation prize</td>
                    </tr>

                    <tr>
                        <td>Cash</td>
                        <td>Meal voucher worth</td>
                        <td>Meal voucher worth</td>
                    </tr>

                    <tr>
                        <td>Week 1
                            (27 Jan – 2 Feb)</td>
                        <td>$300</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>

                    <tr>
                        <td>Week 2
                            (3 Feb – 9 Feb)</td>
                        <td>$400</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>Week 3
                            (10 Feb – 16 Feb)</td>
                        <td>$600</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>Week 4
                            (17 Feb – 23 Feb)</td>
                        <td>$800</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>Week 5
                            (24 Feb – 2 Mar)</td>
                        <td>$900</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>

                    <tr>
                        <td>Week 6
                            (3 Mar – 9 Mar)</td>
                        <td>$1,000</td>
                        <td>$60</td>
                        <td>$100</td>
                    </tr>
                </tbody>
            </table>
		</ol>
		<p>The Organiser reserves the right to substitute any of the prizes with that of similar value at any time without prior notice and all prizes are non-transferable and not exchangeable for cash. </p>
		<p>Acceptance of prizes constitutes permission to the Organiser and its agencies to use winners’ names and/or photographs for purposes of publicity, advertising and/or trade without further notice or compensation.  </p>
		<p>Judges’ decisions are final and no correspondence thereon will be entertained.</p>
		<p>By participating in this Contest, participants agree to be bound by this Contest Rules & Regulations and the decisions of the Organiser.  </p>
		<p>Freebies:</p>
		<ol>
			<li>Freebies will be credited as eCoupon into the user’s Domino’s account.</li>
			<li>Valid for 14 days upon being credited into user’s Domino’s account.</li>
			<li>To redeem eCoupon, a minimum purchase of 1 Personal Pizza is required.</li>
			<li>Valid for delivery, dine-in, and take-away.</li>
			<li>Only one (1) coupon may be used per order.</li>
			<li>Surcharge applies for Cheesy , Cheese Burst Crust, Cheese Sauce Upgrade, Classics& First Class pizza.</li>
		</ol>
		<p>Others</p>
		<ol>
			<li>This Contest is in no way sponsored, endorsed or administered by, or associated with Facebook.</li>
			<li>This Contest adheres to Facebook rules and regulations when it goes live on Domino’s Pizza Singapore Facebook page but if at any time after the Contest goes live, Facebook changes its rules and regulations, Domino’s Pizza Singapore will amend the Contest structure to suit the changes implemented.</li>
			<li>Only Contestants who fulfil the Terms and Conditions shall be eligible to win a Prize. The Organiser reserves the right to disqualify Contestants who have failed to fulfil the Terms and Conditions and/or Contestants who have submitted incomplete or inaccurate entries from the Contest, without prior notice.</li>
			<li>The Organiser (including its respective employees, staff and agents) shall not be liable for any loss (including loss of opportunity and consequential loss arising therewith) and/or any damage suffered by any Contestant or Winner in connection with the Contest.</li>
			<li>The Winners are bound by the Terms and Conditions that come with the Prize. The acceptance of Prize indicates the acknowledgment and agreement of such Terms and Conditions.</li>
			<li>No responsibility or liability is assumed by Domino’s Pizza Singapore and its Administrators for unauthorized human or non-human intervention in the operation of the contest, including without limitation, unauthorized tampering, hacking, theft, virus, bugs, worms or destruction of any aspect of the contest, or loss, miscount, misdirection, inaccessibility or unavailability of a participant’s entries in the contest.</li>
			<li>We reserve the right to disqualify and make invalid any player whom we deem is manipulating and/or gaming the system.</li>
			<li>The Organiser is absolved from all liability resulting from the Contestants’ infringement of third party copyrights from submission of photos and captions.</li>
			<li>The Prize is not exchangeable and/or transferable. Failure to accept Prize by the Winners when required to do so shall constitute a rejection by such Winner(s) and the Organiser reserves it rights to award the Prize to another Winner(s).</li>
			<li>The Organiser reserves its sole right and discretion to delete, remove, not consider or reject content that is deemed by it to be improper or offensive in whatever nature.</li>
			<li>The Organiser reserves its rights to publish or display materials or information, including but not limited to the names of all Contestants for marketing, advertising and publicity purposes in any manner it deems appropriate. The rights of the entries are automatically assigned to the Organiser and that it reserves right to exploit the entries via any means without compensation</li>
			<li>The Organiser further reserves its right to use any personal data of Contestants in any manner and/or for any purpose it deems fit and the Contestants are deemed to consent to such use with no monetary payment.</li>
			<li>The Organiser reserves its right to cancel, terminate or suspend the Contest with or without any prior notice and reason. For the avoidance of doubt, cancellation, termination or suspension by the Organiser shall not entitle the Contestants to any claim or compensation against the Organiser for any and all losses or damages suffered or incurred as a direct or indirect result of the act of cancellation, termination or suspension.</li>
			<li>The Terms and Conditions herein shall prevail over any inconsistent terms, conditions, provisions or representations contained in any other promotional or advertising materials for the Contest.</li>
			<li>The Organiser reserves its right to vary, delete or add to any of these Terms and Conditions and/or substitute or replace the Prizes from time to time without any prior notice.</li>
		    <li>By participating in the Contest, it is deemed that the Contestants agree to be bound by the terms and subject to the conditions herein set out upon submission of entry.</li>
		    <li>The decisions of the Organiser in relation to every aspect of the Contest including but not limited to the type of Prize and Winner(s) shall be deemed final and conclusive under any circumstance and no complaint from any Contestant will be entertained. The decision of judges appointed by the Organiser are final, conclusive and binding and no further appeal, enquiry and/or correspondence will be entertained.</li>
        </ol>
	</div>
</div>
