@font-face {
    font-family: 'PizzaPressOrnaments';
    src: url('fonts/PizzaPressAntique.eot');
    src: url('fonts/PizzaPressAntique.eot') format('embedded-opentype'),
         url('fonts/PizzaPressAntique.woff2') format('woff2'),
         url('fonts/PizzaPressAntique.woff') format('woff'),
         url('fonts/PizzaPressAntique.ttf') format('truetype'),
         url('fonts/PizzaPressAntique.svg#PizzaPressAntique') format('svg');
}

@font-face {
    font-family: 'PizzaPressShadow';
    src: url('fonts/PizzaPressShadow.eot');
    src: url('fonts/PizzaPressShadow.eot') format('embedded-opentype'),
         url('fonts/PizzaPressShadow.woff2') format('woff2'),
         url('fonts/PizzaPressShadow.woff') format('woff'),
         url('fonts/PizzaPressShadow.ttf') format('truetype'),
         url('fonts/PizzaPressShadow.svg#PizzaPressShadow') format('svg');
}

@font-face {
    font-family: 'PizzaPressOrnaments';
    src: url('fonts/PizzaPressOrnaments.eot');
    src: url('fonts/PizzaPressOrnaments.eot') format('embedded-opentype'),
         url('fonts/PizzaPressOrnaments.woff2') format('woff2'),
         url('fonts/PizzaPressOrnaments.woff') format('woff'),
         url('fonts/PizzaPressOrnaments.ttf') format('truetype'),
         url('fonts/PizzaPressOrnaments.svg#PizzaPressOrnaments') format('svg');
}

@font-face {
    font-family: 'PizzaPressOutline';
    src: url('fonts/PizzaPressOutline.eot');
    src: url('fonts/PizzaPressOutline.eot') format('embedded-opentype'),
         url('fonts/PizzaPressOutline.woff2') format('woff2'),
         url('fonts/PizzaPressOutline.woff') format('woff'),
         url('fonts/PizzaPressOutline.ttf') format('truetype'),
         url('fonts/PizzaPressOutline.svg#PizzaPressOutline') format('svg');
}

@font-face {
    font-family: 'PizzaPressRegular';
    src: url('fonts/PizzaPressRegular.eot');
    src: url('fonts/PizzaPressRegular.eot') format('embedded-opentype'),
         url('fonts/PizzaPressRegular.woff2') format('woff2'),
         url('fonts/PizzaPressRegular.woff') format('woff'),
         url('fonts/PizzaPressRegular.ttf') format('truetype'),
         url('fonts/PizzaPressRegular.svg#PizzaPressRegular') format('svg');
}

@font-face {
    font-family: 'PizzaPressAntiqueDisplay';
    src: url('fonts/PizzaPressAntiqueDisplay.eot');
    src: url('fonts/PizzaPressAntiqueDisplay.eot') format('embedded-opentype'),
         url('fonts/PizzaPressAntiqueDisplay.woff2') format('woff2'),
         url('fonts/PizzaPressAntiqueDisplay.woff') format('woff'),
         url('fonts/PizzaPressAntiqueDisplay.ttf') format('truetype'),
         url('fonts/PizzaPressAntiqueDisplay.svg#PizzaPressAntiqueDisplay') format('svg');
}

@font-face {
    font-family: 'PizzaPressFill';
    src: url('fonts/PizzaPressFill.eot');
    src: url('fonts/PizzaPressFill.eot') format('embedded-opentype'),
         url('fonts/PizzaPressFill.woff2') format('woff2'),
         url('fonts/PizzaPressFill.woff') format('woff'),
         url('fonts/PizzaPressFill.ttf') format('truetype'),
         url('fonts/PizzaPressFill.svg#PizzaPressFill') format('svg');
}

@font-face {
    font-family: 'PizzaPressInline';
    src: url('fonts/PizzaPressInline.eot');
    src: url('fonts/PizzaPressInline.eot') format('embedded-opentype'),
         url('fonts/PizzaPressInline.woff2') format('woff2'),
         url('fonts/PizzaPressInline.woff') format('woff'),
         url('fonts/PizzaPressInline.ttf') format('truetype'),
         url('fonts/PizzaPressInline.svg#PizzaPressInline') format('svg');
}

@font-face {
    font-family: 'OdinRoundedBold';
    src: url('fonts/OdinRoundedRegular.eot');
    src: url('fonts/OdinRoundedRegular.eot') format('embedded-opentype'),
         url('fonts/OdinRoundedRegular.woff2') format('woff2'),
         url('fonts/OdinRoundedRegular.woff') format('woff'),
         url('fonts/OdinRoundedRegular.ttf') format('truetype'),
         url('fonts/OdinRoundedRegular.svg#OdinRoundedRegular') format('svg');
}

@font-face {
    font-family: 'HelveticaCondensedLightLight';
    src: url('fonts/HelveticaCondensedLight.eot');
    src: url('fonts/HelveticaCondensedLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaCondensedLight.woff2') format('woff2'),
         url('fonts/HelveticaCondensedLight.woff') format('woff'),
         url('fonts/HelveticaCondensedLight.ttf') format('truetype'),
         url('fonts/HelveticaCondensedLight.svg#HelveticaCondensedLight') format('svg');
}

@font-face {
    font-family: 'HelveticaLT57Condensed';
    src: url('fonts/HelveticaLT57Condensed.eot');
    src: url('fonts/HelveticaLT57Condensed.eot') format('embedded-opentype'),
         url('fonts/HelveticaLT57Condensed.woff2') format('woff2'),
         url('fonts/HelveticaLT57Condensed.woff') format('woff'),
         url('fonts/HelveticaLT57Condensed.ttf') format('truetype'),
         url('fonts/HelveticaLT57Condensed.svg#HelveticaLT57Condensed') format('svg');
}
@font-face {
    font-family: 'HelveticaLTCondensedBold';
    src: url('fonts/HelveticaLTCondensedBold.eot');
    src: url('fonts/HelveticaLTCondensedBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaLTCondensedBold.woff2') format('woff2'),
         url('fonts/HelveticaLTCondensedBold.woff') format('woff'),
         url('fonts/HelveticaLTCondensedBold.ttf') format('truetype'),
         url('fonts/HelveticaLTCondensedBold.svg#HelveticaLTCondensedBold') format('svg');
}

@font-face {
    font-family: 'FrutigerCn';
    src: url('fonts/FrutigerCn.eot');
    src: url('fonts/FrutigerCn.eot') format('embedded-opentype'),
         url('fonts/FrutigerCn.woff2') format('woff2'),
         url('fonts/FrutigerCn.woff') format('woff'),
         url('fonts/FrutigerCn.ttf') format('truetype'),
         url('fonts/FrutigerCn.svg#FrutigerCn') format('svg');
}

@font-face {
    font-family: 'FrutigerNextLTBoldCond';
    src: url('fonts/FrutigerNextLTBoldCond.eot');
    src: url('fonts/FrutigerNextLTBoldCond.eot') format('embedded-opentype'),
         url('fonts/FrutigerNextLTBoldCond.woff2') format('woff2'),
         url('fonts/FrutigerNextLTBoldCond.woff') format('woff'),
         url('fonts/FrutigerNextLTBoldCond.ttf') format('truetype'),
         url('fonts/FrutigerNextLTBoldCond.svg#FrutigerNextLTBoldCond') format('svg');
}


@font-face {
    font-family: "FrutigerNextLT-BoldCond";
    src: url("fonts/FrutigerNextLT-BoldCond.otf");
    font-style: normal;
    font-weight: normal;
}