/*====== shared menu overlay ======*/

.overlay_menu_div {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .4 ) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.menushown {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   loading_div element will be visible */
body.menushown .overlay_menu_div {
    display: block;
}

.headerMenuContainer
{
  max-width: 1000px;
  width: 100%;
  margin: 80px auto;
  padding-left: 20px;
}

.headerMenuContainer a
{
 display: block;
 margin-bottom: 10px;
 width:154px;
}



/******** transformationicons *********/
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 28px .1%;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8;
  z-index: 9999999;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

.navicon {
  position: relative;
  width: 2.5rem;
  height: .3125rem;
  background: #fdb713;
  transition: 0.5s;
  border-radius: 2.5rem;
  z-index: 9999999;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #fdb713;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}

/* Minus */
.open {
  transform: scale(0.75);
}

/* Arrows */
.open.larr .navicon:before, .open.larr .navicon:after,
.open.rarr .navicon:before,
.open.rarr .navicon:after,
.open.uarr .navicon:before,
.open.uarr .navicon:after {
  width: 1.5rem;
}
.open.larr .navicon:before,
.open.rarr .navicon:before,
.open.uarr .navicon:before {
  transform: rotate(35deg);
  transform-origin: left top;
}
.open.larr .navicon:after,
.open.rarr .navicon:after,
.open.uarr .navicon:after {
  transform: rotate(-35deg);
  transform-origin: left bottom;
}

.open.uarr {
  transform: scale(0.75) rotate(90deg);
}

/* Arrows */
.open.rarr .navicon:before {
  transform: translate3d(1em, 0, 0) rotate(-35deg);
  transform-origin: right top;
}
.open.rarr .navicon:after {
  transform: translate3d(1em, 0, 0) rotate(35deg);
  transform-origin: right bottom;
}

/* × and + */
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
}
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
}

.open.plus {
  transform: scale(0.75) rotate(45deg);
}

body,html
{
	margin:0 !important;
	padding:0 !important;
}


.desktopContent
{
	width:100%;
	height: 1557px;
	max-width: 989px;
	margin: 0 auto;
	/*height:auto;*/
	overflow-x:hidden;
	position: relative;
}

.desktopContent .left
{
	position: absolute;
	left: -95%;
	top: 0px;
	width: 100%;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;

}
.desktopContent .left .desktopbackround
{
	width: 200%;
	height: auto;
	/*height: 1557px;*/

}

.desktopContent .buttonClick
{
	cursor: pointer;
	
}

.desktopContent .left img.promo
{
	position: absolute;
	top:100px;
	right:.5%;
}
.desktopContent .left img.game
{
	position: absolute;
	top:100px;
	left:99.6%;
}



/*.mobileContent
{
	width:100%;
	max-width: 760px;
	margin: 0 auto;
	height:auto;

}*/

.mobileContent
{
	width:100%;
	height: 1417px;
	max-width: 760px;
	margin: 0 auto;
	/*height:auto;*/
	overflow-x:hidden;
	position: relative;
}

.mobileContent .left
{
	position: absolute;
	left: -95%;
	top: 0px;
	width: 100%;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;

}
.mobileContent .left .mobilebackround
{
	width: 200%;
	height: auto;
	/*height: 1417px;*/

}

.mobileContent .buttonClick2
{
	cursor: pointer;
}

.mobileContent .left img.promo
{
	position: absolute;
	top:27px;
	right:.3%;
}
.mobileContent .left img.game
{
	position: absolute;
	top:27px;
	left:100.3%;
}



.headBar
{
  /*border: 1px solid black;*/
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;

}

.headBar .left2
{
  float: left;
  width:49%;

}

/*.mobileContent .mobilebackround
{
	width:100%;
	height:auto;
}*/

.howto
{
	width:100%;
	max-width: 989px;
	margin: 0 auto;
	height:auto;
}

.howtoDesktopContent
{
	width:100%;
	max-width: 989px;
	margin: 0 auto;
	height:auto;
	position: relative;
}

.howtoDesktopContent .sliderbackground
{
	width:100%;
	height: auto;
}

.howtoMobileContent
{
	width:100%;
	max-width: 760px;
	margin: 0 auto;
	height:auto;
	position: relative;
}


.sliderbackground
{
	width:100%;
	height: auto;
}


.desktopSliderContainer
{
	position: absolute;
	top:42%;
	left: 50%;
	width: 87%;
	height:40%;
    transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
}

.mobileSliderContainer
{
	position: absolute;
	top:26%;
	left: 50%;
	width: 81%;
	height:66%;
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    /*border: 1px solid black;*/
}


.bxsliderbxSliderNavigator 
{
	position: absolute;
	top:82%;
	left: 50%;
	width: 37%;
	min-width:340px;
	height:6.5%;
    transform: translate(-50%, 0);
     -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
    list-style: none;
    padding-top: 20px;
}



.bxsliderbxSliderNavigator li 
{
	
	background: #fff;
	width:38px;
	height: 38px;
	margin-right: 3px;
	float: left;
	border:1px solid red;
	border-radius:10px;
	text-align: center;

}

.bxsliderbxSliderNavigator li span
{
	float: left;
	width:34px;
	height:34px;
	margin: 1px;
	background: #0874ae;
	color:white;
	font-size:25px;
	border-radius:10px;
	cursor: pointer;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid red;
	margin-top: -5px;
	margin-left: 13px;
}




@media all and (max-width: 770px)
{
	.bx-next, .bx-prev
	{
		display: none;
	}

	.bxslider img
	{
		width: 100%;
		height: auto;
	}
}
.buttonClick3
{
	width:40vw;
	position: fixed;
	bottom:0;
	left:50%;
	margin-left: -20vw;
}






/*
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.desktop
{
	margin: 0 auto !important;
	padding: 0 !important;
	max-width: 989px;
	width:100%;
	height: auto;
}

.desktop img
{
	width:989px;
	height: auto;
}

.clickme
{
	cursor: pointer;
}

#howto
{
	max-width: 989px;
	margin:0 auto;
}

.ourslidercontainer
{
	/*width:850px;
	height:469px;
	border:1px solid black;*/
/*	position: absolute;
	z-index: 200;
	top:489px;
	left: 50%;
    transform: translate(-25%, 0);
}
.bxsliderbxSliderNavigatorContainer
{
	width: 240px;
	text-align: center;

}

.bxsliderbxSliderNavigator
{
	list-style: none;
	margin: 1.5vw auto;
	width: 360px;
}



*/





