.fancybox-wrap
{
  border:4px solid #0077b2 !important;
  border-radius:3px;
}


@import('fonts.css');


/*========== wrong answer animation ==============*/

@keyframes anim {
    0% {
        transform: rotate(25deg) scale(1, 1);
    }

    10% {
        transform: rotate(-25deg) scale(1.05, 1.05);
    }

    20% {
        transform: rotate(25deg) scale(1.1, 1.1);
    }

    30% {
        transform: rotate(-25deg) scale(1.15, 1.15);
    }

    40% {
        transform: rotate(25deg) scale(1.2, 1.2);
    }

    50% {
        transform: rotate(-25deg) scale(1.2, 1.2);
    }

    60% {
        transform: rotate(25deg) scale(1.15, 1.15);
    }

    70% {
        transform: rotate(-25deg) scale(1.10, 1.10);
    }

    80% {
        transform: rotate(25deg) scale(1.05, 1.05);
    }

    90% {
        transform: rotate(-25deg) scale(1, 1);
    }

    100% {
        transform: rotate(0deg) scale(1, 1);
    }
}




/*====== loading spinner ======*/

.loading_div {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .4 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   loading_div element will be visible */
body.loading .loading_div {
    display: block;
}



/*====== shared menu overlay ======*/

.overlay_menu_div {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .4 ) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.menushown {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   loading_div element will be visible */
body.menushown .overlay_menu_div {
    display: block;
}

.headerMenuContainer
{
  max-width: 1000px;
  width: 100%;
  margin: 100px auto;
  padding-left: 20px;
}

.headerMenuContainer a
{
 display: block;
 margin-bottom: 10px;
 width:154px;
}



/*====== timeline horizental =====*/
/* Tooltip */
.timeline {
  max-width: 1200px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
}
.timeline-bar {
  position: relative;
  background: #888888;
  height: 5px;
  width: 100%;
}
.timeline-point {
  border-radius: 15px;
  display: block;
  background: tomato;
  position: absolute;
  height: 15px;
  width: 15px;
  z-index: 10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
.timeline-point:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.point-1 {
  left: 0;
  top: -5px;
}

/* Tooltips */
.timeline-point[data-tooltip] {
  position: relative;
  cursor: pointer;
}
.timeline-point[data-tooltip]:after {
  content: attr(data-tooltip);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  color: #fff;
  bottom: 150%;
  left: -100%;
  display: none;
  z-index: 999;
}
.timeline-point[data-tooltip]:hover:after {
  display: block;
}



/*====== timeline vertical =====*/
/* Tooltip */
.timeline2 {
  max-height: 1200px;
  height: 50%;
  position: absolute;
  left: 10%;
  top: 10%;
}
.timeline2-bar {
  position: relative;
  background: #888888;
  width: 5px;
  height: 100%;
}
.timeline2-point {
  border-radius: 15px;
  display: block;
  background: tomato;
  position: absolute;
  height: 15px;
  width: 15px;
  z-index: 10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
.timeline2-point:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.point2-1 {
  left: -5px;
  top: 0;
}

/* Tooltips */
.timeline2-point[data-tooltip] {
  position: relative;
  cursor: pointer;
}
.timeline2-point[data-tooltip]:after {
  content: attr(data-tooltip);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  color: #fff;
  bottom: 150%;
  left: -100%;
  display: none;
  z-index: 999;
}
.timeline2-point[data-tooltip]:hover:after {
  display: block;
}



/********** circle logout btn **********/

.circlelogoutbtn
{
  position: fixed;
  right:30px;
  bottom: 20px;
}

.circlelogoutbtn2
{
  position: fixed;
  right:50px;
  bottom: 20px;
}


.logoutBtnDesign2
{
  background: #484848;
  color:#fff;
  padding:3px 5px;
  font-size: 12px;
  letter-spacing: -.1px;
  -moz-border-radius:10px; 
  -webkit-border-radius:10px; 
  -o-border-radius:10px; 
  border-radius:6px; 
  cursor: pointer;
}

/******** transformationicons *********/
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

.navicon {
  position: relative;
  width: 2.5rem;
  height: .3125rem;
  background: #333333;
  transition: 0.5s;
  border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #333333;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}

/* Minus */
.open {
  transform: scale(0.75);
}

/* Arrows */
.open.larr .navicon:before, .open.larr .navicon:after,
.open.rarr .navicon:before,
.open.rarr .navicon:after,
.open.uarr .navicon:before,
.open.uarr .navicon:after {
  width: 1.5rem;
}
.open.larr .navicon:before,
.open.rarr .navicon:before,
.open.uarr .navicon:before {
  transform: rotate(35deg);
  transform-origin: left top;
}
.open.larr .navicon:after,
.open.rarr .navicon:after,
.open.uarr .navicon:after {
  transform: rotate(-35deg);
  transform-origin: left bottom;
}

.open.uarr {
  transform: scale(0.75) rotate(90deg);
}

/* Arrows */
.open.rarr .navicon:before {
  transform: translate3d(1em, 0, 0) rotate(-35deg);
  transform-origin: right top;
}
.open.rarr .navicon:after {
  transform: translate3d(1em, 0, 0) rotate(35deg);
  transform-origin: right bottom;
}

/* × and + */
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
}
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
}

.open.plus {
  transform: scale(0.75) rotate(45deg);
}




/******************* fixing bootstrap ***************************/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input:focus,
.uneditable-input:focus {   
  border: none;
  box-shadow: none !important;
  outline: none !important;
}

input:focus
{
  -webkit-outline: none !important;
  outline: none !important;
}



/******************* login desktop  ***************************/
body
{
  background: url('../img/background.png');
  background-repeat: repeat;
}
.desktopContent
{
  /*border: 1px solid black;
  min-height: 700px;*/
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.desktopContent #step1 .logo
{
  margin: 100px auto 0;
  display: block;
}

.desktopContent #step1 .step1instruction
{
  margin: 0px auto 0;
  display: block;
}

.desktopContent #step1 .facebookconnect
{
  margin: 20px auto;
  display: block;
  cursor: pointer;
}


.desktopContent #step2 .headBar
{
  /*border: 1px solid black;*/
  height: 70px;
  width: 100%;

}

.desktopContent #step2 .headBar .left
{
  float: left;
  width:49%;

}

.desktopContent #step2 .headBar .left .navbutton
{
  margin-top: 18px;
  float: left;
  margin-right: -10px;
}

.desktopContent #step2 .headBar .left #goToPromotion
{
  cursor: pointer;
}

.desktopContent #step2 .headBar .right
{
  float: right;
  width:49%;
  text-align: right;
}

.desktopContent #step2 .headBar .right .level
{
  float: right;
  width:204px;
  height:60px;
  margin-top: 5px;
  position: relative;
}

.desktopContent #step2 .headBar .right .level img
{
  width: 45px;
  height: 45px;
  position: absolute;
  right: 2px;
  top:14px;
}
.desktopContent #step2 .headBar .right .level p
{
      width: 100px;
    height: 45px;
    margin-left: -100px;
    margin-top: 18px;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
    font-family: PizzaPressFill;
}

.desktopContent #step2 .headBar .right .level[data-level="0"]
{
  background: url(../img/login/rightback1.png);
}

.desktopContent #step2 .logo
{
  margin: 30px auto 0;
  display: block;
}


.desktopContent #step2 .step2instruction
{
  margin: 0px auto 0;
  display: block;
}

.desktopContent #step2 #dominosEmail
{
  margin: 0px auto 0;
  width: 390px;
  height:47px;
  border:2px solid #0078ae;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: block;
  font-size: 18px;
  padding: 2px 10px;
  text-align: center;

}

.desktopContent #step2 .errorMessage
{
  margin: 2px auto 0;
  font-size: 14px;
  color:red;
  display: block;
  width: 340px;

}

.desktopContent #step2 .donthaveaccount
{
  margin: 20px auto 0;
  font-size: 19px;
  color:black;
  display: block;
  width: 270px;
  font-family: PizzaPressFill;
  letter-spacing: -.4px;
  padding-left: 0px;
  font-weight: 100
}

.desktopContent #step2 .registerlink
{
  cursor: pointer;
}

.desktopContent #step2 .registerlink:hover
{
  /*text-decoration: none;*/
}




/******************* login mobile  ***************************/

.mobileContent
{
  /*border: 1px solid black;
  min-height: 700px;*/
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.mobileContent #step1mobile .logo
{
  margin: 100px auto 0;
  display: block;
}

.mobileContent #step1mobile .step1instruction
{
  margin: 0px auto 0;
  display: block;
}

.mobileContent #step1mobile .facebookconnect
{
  margin: 20px auto;
  display: block;
  cursor: pointer;
}


.mobileContent #step2mobile .headBar
{
  /*border: 1px solid black;*/
  height: 70px;
  width: 100%;
  padding-right: 16px;

}

.mobileContent #step2mobile .headBar .right
{
  float: right;
  width:79%;
  text-align: right;
}

.mobileContent #step2mobile .headBar .right .level
{
  float: right;
  width:186px;
  height:54px;
  margin-top: 5px;
  position: relative;
}

.mobileContent #step2mobile .headBar .right .level img
{
  width: 39px;
  height: 39px;
  position: absolute;
  right: 3px;
  top:12px;
}
.mobileContent #step2mobile .headBar .right .level p
{
  width: 90%;
  height: 45px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  cursor: pointer;
  font-weight: bold;
  font-family: PizzaPressFill;
}

.mobileContent #step2mobile .headBar .right .level[data-level="0"]
{
  background: url(../img/login/rightback1mobile.png);
}
.mobileContent #step2mobile .headBar .right .level[data-level="10"]
{
  background: url(../img/login/rightback2mobile.png);
}
.mobileContent #step2mobile .headBar .right .level[data-level="20"]
{
  background: url(../img/login/rightback3mobile.png);
}
.mobileContent #step2mobile .headBar .right .level[data-level="26"]
{
  background: url(../img/login/rightback4mobile.png);
}

.mobileContent #step2mobile .logo
{
  margin: 30px auto 0;
  display: block;
}


.mobileContent #step2mobile .step2instruction
{
  margin: 0px auto 0;
  display: block;
}

.mobileContent #step2mobile #dominosEmailmobile
{
  margin: 0px auto 0;
  width: 80%;
  height:37px;
  border:2px solid #0078ae;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: block;
  font-size: 18px;
  padding: 2px 10px;
  text-align: center;

}

.mobileContent #step2mobile .errorMessage
{
  margin: 3px auto 0;
  font-size: 13px;
  color:red;
  display: block;
  width: 100%;
  text-align: center;

}

.mobileContent #step2mobile .donthaveaccount
{
  margin: 20px auto 0;
  font-size: 15px;
  color:black;
  display: block;
  width: 100%;
  padding:0 10px;
  text-align: center;
  font-family: PizzaPressFill;
  letter-spacing: -.4px;
  clear: both;
}

.mobileContent #step2mobile .registerlink
{
  cursor: pointer;
}

.mobileContent #step2mobile .registerlink:hover
{
  text-decoration: none;
}


/********************* menu page ********************/
.desktopContent #step2 .facebookconnect
{
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

.mobileContent .btn-menu-mobile
{
  margin-bottom: 5px;
  cursor: pointer;
}





















/*********************  game  *********************/

.desktopContent #game .headBar
{
  /*border: 1px solid black;*/
  height: 70px;
  width: 100%;

}
.desktopContent #game .headBar2
{
  /*border: 1px solid black;*/
  height: 70px;
  width: 100%;
  margin-top: 28px;

}

.desktopContent #game .headBar .left
{
  float: left;
  width:33%;

}

.desktopContent #game .headBar .left .navbutton
{
  margin-top: 18px;
  float: left;
  margin-right: -10px;
}

.desktopContent #game .headBar .left #goToPromotion
{
  cursor: pointer;
}

.desktopContent #game .headBar .right
{
  float: right;
  width:33%;
  text-align: right;
}

.desktopContent #game .headBar .right .level
{
  float: right;
  width:204px;
  height:60px;
  margin-top: 5px;
  position: relative;
}


.desktopContent #game .headBar .right .level img
{
  width: 45px;
  height: 45px;
  position: absolute;
  right: 2px;
  top:14px;
}
.desktopContent #game .headBar .right .level p
{
  width: 100px;
  height: 45px;
  margin-left: -100px;
  margin-top: 18px;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  font-family: PizzaPressFill;
}

.desktopContent #game .headBar .right .level[data-level="0"]
{
  background: url(../img/login/rightback1.png);
}
.desktopContent #game .headBar .right .level[data-level="10"]
{
  background: url(../img/login/rightback2.png);
}
.desktopContent #game .headBar .right .level[data-level="20"]
{
  background: url(../img/login/rightback3.png);
}
.desktopContent #game .headBar .right .level[data-level="26"]
{
  background: url(../img/login/rightback4.png);
}

.desktopContent #game .headBar .right .lifes
{
  float: right;
  width:172px;
  height:60px;
  margin-top: 5px;
  position: relative;
}
.desktopContent #game .headBar .right .lifes h1
{
  float: left;
  margin-left: 33px;
  margin-top: 14px;
  font-family: PizzaPressFill;
  font-size: 33px;
}

.desktopContent #game .headBar .right .lifes[data-lifes="3"]
{
  background: url(../img/game/3lifes.png);
}
.desktopContent #game .headBar .right .lifes[data-lifes="2"]
{
  background: url(../img/game/2lifes.png);
}
.desktopContent #game .headBar .right .lifes[data-lifes="1"]
{
  background: url(../img/game/1lifes.png);
}
.desktopContent #game .headBar .right .lifes[data-lifes="0"]
{
  background: url(../img/game/0lifes.png);
}

.desktopContent #game .logo
{
  margin:0 33% 0 40%;
  display: block;
}

.desktopContent #game .timeCounter
{
  margin:0 33% 0 40%;
  display: block;
  padding-left: 40px;
}

.desktopContent #game .timeCounter h1
{
  font-size: 48px;
  font-family: PizzaPressFill;
  text-align: center;
  width: 70px;
}

.desktopContent #game .timeCounter h2
{
  font-size: 12px;
  margin: -17px 0 0 15px;
  font-family:PizzaPressFill;
}


.desktopContent #game .letters
{
  /*border: 1px solid black;*/
  height: 66px;
  margin-top: 10px;
}

.desktopContent #game .letters ul
{
 /* border: 1px solid red;*/
  list-style: none;
  height: 66px;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.desktopContent #game .letters ul li
{
  display: inline-block;
  padding-top: 25px;
  font-size: 20px;
  margin: 0 4px;
  font-family: PizzaPressFill;
  font-size: 27px;
}
.desktopContent #game .letters ul li.activeQuestion
{
  color:#e31f3d;
}
.desktopContent #game .letters ul li img
{
  margin: -70px 0 0 -20px;
  display: block;
}


.desktopContent #game .question
{
  /*border: 1px solid black;*/
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.desktopContent #game .question h1
{
  color:#0078ae;
  font-size: 23px;
  width: 70%;
  text-align: center;
  margin:0 auto;
  padding-left: 25px;
  font-family:PizzaPressFill;
  min-height: 60px !important;
}

.desktopContent #game .question h1 b
{
  font-family: PizzaPressFill;
  font-weight: normal !important;
  color:#003b60 !important;
}

.desktopContent #game .question ul.answer
{
  /*border: 1px solid red;*/
  list-style: none;
  margin:20px auto 0;
  text-align: center;
  min-height: 10px;

}

.desktopContent #game .question ul.answer li
{
  padding-top: 60px;
  display: inline-block;
  text-align: center;
  width: 170px;
  height:170px;
  font-family: PizzaPressFill;
  font-size: 14px;

}

.desktopContent #game .question ul.answer li.wrong
{
  background: url('../img/game/q/wrong.png');  
   background-position: center center;
  background-repeat: no-repeat;  
  -webkit-animation: anim 1s linear;
  -moz-animation: anim 1s linear;
  -o-animation: anim 1s linear;
  animation: anim 1s linear;
}

.desktopContent #game .question ul.answer li img
{
  margin-top: -45px;
  margin-left: 10px;
  cursor: pointer;
}
.desktopContent #game .question ul.answer li p
{
  text-align: center;
  padding-left: 38px;
  color:red;
}

.desktopContent #game .copuns
{
  max-width: 998px;
  width: 100%;
  max-height: 274px;
  height:274px;
  margin-top: 45px;
}
.desktopContent #game .copuns .left
{
  background: url('../img/game/q/copuns_left.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 22.5%;
  float: left;
  height: 190px;
}

.desktopContent #game .copuns .right
{
  background: url('../img/game/q/copuns_right.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 77.5%;
  float: left;
  height: 190px;
  margin-left: -6px;
  margin-bottom: 0;
  position: relative;
}

.desktopContent #game .copuns .bottom
{
  background: url('../img/game/q/copuns.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 99%;
  clear: both;
  height: 13px;
  margin-top: 0;
}

.desktopContent #game .copuns .right .timerdesktop
{
  position: absolute;
  top:18px;
  left:0;
}



/*****************   game mobile    ********************/

#mobileGame .playerImage
{
  width:8vw;
  position: absolute;
  right:1vw;
  top:2.5vw;
}

#mobileGame .playerName2
{
  position: absolute;
  right:1vw;
  top:12vw;
  font-family: PizzaPressFill;
}

.playerName2
{
  font-family: PizzaPressFill;
}

#mobileGame .gameBody
{
  /*border: 1px solid black;*/
  width: 100%;
  min-height: 100px;
  margin: 20px auto;
  position: relative;
}

#mobileGame .left
{
  /*border: 1px solid red;*/
  width: 85%;
  min-height: 100%;
  margin: 0 auto;
  float: left;
  position: relative;
}
#mobileGame .right
{

  /*border: 1px solid green;*/
  background: url('../img/game/mobile/timeline.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 15%;
  height: 619px;
  margin: 0 auto;
  float: left;
}

#mobileGame .right .ticker
{

  background: url('../img/game/mobile/ticker.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  width:14vw;
  height:14vw;
  margin: 0 auto;
  margin-left: -2px;
  padding-top: 2.2vw;
  padding-left: 1.3vw;
  font-family: PizzaPressFill;
  font-size: 7vw;
  color:#fff;
  position: absolute;
  right:2px;
}



#mobileGame .gameBody .left .lifes
{
  float: left;
  width:90%;
  max-width:150px;
  height:60px;
  margin-top: 5px;
  display: inline;
  position: relative;

}
#mobileGame .gameBody .left .lifes h1
{
  float: left;
  margin-left: 28px;
  margin-top: 14px;
  font-family: PizzaPressFill;
  font-size: 33px;
}

#mobileGame .gameBody .left .lifes[data-lifes="3"]
{
  background: url(../img/game/3lifes.png);
    background-size: 100% 100%;
}
#mobileGame .gameBody .left .lifes[data-lifes="2"]
{
  background: url(../img/game/2lifes.png);
    background-size: 100% 100%;
}

#mobileGame .gameBody .left .lifes[data-lifes="1"]
{
  background: url(../img/game/1lifes.png);
    background-size: 100% 100%;
}
#mobileGame .gameBody .left .lifes[data-lifes="0"]
{
  background: url(../img/game/0lifes.png);
    background-size: 100% 100%;
}

#mobileGame .gameBody .left .timeCounter
{
  display: inline;
  float: right;
  width: 10%;
  max-width: 50px;
  margin-right: 15vw;
  margin-top: -20px;
}

#mobileGame .gameBody .left .timeCounter h1
{
  font-size: 48px;
  font-family: PizzaPressFill;
  text-align: center;
  width: 70px;
}

#mobileGame .gameBody .left .timeCounter h2
{
  font-size: 14px;
  margin: -18px 0 0 12px;
  font-family:PizzaPressFill;
}

#mobileGame .gameBody .left .question
{
  margin-top: 70px;
}
#mobileGame .gameBody .left .question .letter
{
  font-family: PizzaPressFill;
  text-transform: uppercase;
  font-size: 110px;
  color:#e31f3d;
  margin-left: 10px;
  float: left;
}

#mobileGame .gameBody .left .question .q
{
  font-family: PizzaPressFill;
  font-size: 18px;
  color:#0078ae;
  width: 70%;
  padding-top: 35px;
  margin-left: 30%;
  min-height: 150px;
}
#mobileGame .gameBody .left .question .q b
{
  font-family: PizzaPressFill;
  font-weight: normal !important;
  color:#003b60 !important;
}

#mobileGame .gameBody .left ul.answer
{
  /*border: 1px solid red;*/
  list-style: none;
  margin:20px auto 0;
  text-align: center;
  min-height: 10px;
  position: relative;
  padding:0;
}

#mobileGame .gameBody .left ul.answer li
{
  padding-top: 60px;
  float: left;
  text-align: center;
  width: 45%;
  height:170px;
  font-family: PizzaPressFill;
  font-size: 14px;
  margin: 0 2%;

}

#mobileGame .gameBody .left ul.answer li.wrong
{
  background: url('../img/game/q/wrong.png');  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  -webkit-animation: anim 1s linear;
  -moz-animation: anim 1s linear;
  -o-animation: anim 1s linear;
  animation: anim 1s linear;
}

#mobileGame .gameBody .left ul.answer li img
{
  margin-top: -45px;
  margin-left: 0px;
  cursor: pointer;
  width: 95%;
  /*width: 100px;*/
  /*max-height: 130px;*/
}
















/**********    popups     **********/
#shareface
{
  float:left;
  margin: 20px 40px 0 40px;
  cursor: pointer;
}

#sharetwitter
{
  margin-top: 20px;
  cursor: pointer;
}
.centerShare
{
  display: block;
  margin:10px auto;
  width: 250px;
}

.playagaingame
{
  display: block !important;
  margin: 20px auto !important;
  cursor: pointer;
}


.closePopup
{
  margin: 0 auto;
  cursor: pointer;
  display: block !important;
  width: 190px;
}








/********* timeout page **********/
.timeoutimg
{
  margin: 80px auto;
  display: block;
}






/********** results page ***********/
.resultsdivdesktop
{
  background-image: url('../img/game/results/back.png');
  margin: 40px auto;
  width: 720px;
  height:540px;
  position: relative;
}

.resultsdivdesktop .gameScore
{
  font-family: PizzaPressFill;
  font-size: 48px;
  color:#0077b2;
  width:155px;
  position: absolute;
  top:246px;
  left:140px;
  text-align: right;
}

.resultsdivdesktop .shareScore
{
  font-family: PizzaPressFill;
  font-size: 48px;
  color:#0077b2;
  width:155px;
  position: absolute;
  top:300px;
  left:140px;
  text-align: right;
}

.resultsdivdesktop .multiplierScore
{
  font-family: PizzaPressFill;
  font-size: 48px;
  color:#0077b2;
  width:155px;
  position: absolute;
  top:355px;
  left:140px;
  text-align: right;
}


.resultsdivdesktop .multiplierScore small 
{
  color:#0077b2;
  font-size: 18px;
}

.resultsdivdesktop .totalScore
{
  font-family: PizzaPressFill;
  font-size: 48px;
  color:#fff;
  width:155px;
  position: absolute;
  top:415px;
  left:135px;
  text-align: right;
}

.resultsdivdesktop .copun
{
  position: absolute;
  top:318px;
  left: 312px;
}
.resultsdivdesktop .shareface
{
  margin-top: 500px;
  margin-left: 540px;
  cursor: pointer;
}

.resultsdivdesktop .sharetwitter
{
  margin-top: 500px;
  /*margin-left: 540px;*/
  cursor: pointer;
}
.orderbtnresults
{
  margin: 10px 0 0 70px;
  cursor: pointer;
}

.playagain
{
  margin: -52px 0 0 440px;
  cursor:pointer;
}













.resultsdivmobile
{
  background-image: url('../img/game/results/backmobile.png');
  background-size: 100% 100%;
  margin: 10px auto;
  position: relative;
  min-height: 380px;
}

.resultsdivmobile .gameScore
{
  font-family: PizzaPressFill;
  font-size: 26px;
  color:#0077b2;
  width:85px;
  position: absolute;
  top:153px;
  left:14vw;
  text-align: right;
}

.resultsdivmobile .shareScore
{
  font-family: PizzaPressFill;
  font-size: 26px;
  color:#0077b2;
  width:85px;
  position: absolute;
  top:185px;
  left:14vw;
  text-align: right;
}

.resultsdivmobile .multiplierScore
{
  font-family: PizzaPressFill;
  font-size: 26px;
  color:#0077b2;
  width:85px;
  position: absolute;
  top:220px;
  left:14vw;
  text-align: right;
}

.resultsdivmobile .multiplierScore small
{
  font-family: PizzaPressFill;
  font-size: 12px;
  color:#0077b2;
  
}

.resultsdivmobile .totalScore
{
  font-family: PizzaPressFill;
  font-size: 26px;
  color:#fff;
  width:85px;
  position: absolute;
  top:255px;
  left:12.5vw;
  text-align: right;
}

.resultsdivmobile .copun
{
  position: absolute;
  top:200px;
  left:42vw;
  width: 55vw;
  height:110px; 
}

.resultsdivmobile .shareface
{
  position: absolute;
  top:345px;
  left:39vw;
  cursor: pointer;
}

.resultsdivmobile .sharetwitter
{
  position: absolute;
  top:345px;
  left:50vw;
  cursor: pointer;
}

#mobileGame .orderbtnresults
{
  margin: 10px auto;
}

#mobileGame .playagain
{
  margin: 10px auto;
}





/************* terms and conditions ****************/

.tcTextDesktop
{
  height:600px;
  width: 100%;
  margin-top: 10px auto;
  font-family: 'Arial Narrow', arial;
  font-size: 15px;
  overflow-y:scroll; 
  text-align: justify;
  padding:0 50px;
}

.tcTextDesktop h1
{
  font-family: 'Arial Narrow', arial;
  color:#0078ae;
  font-size: 16px;
  font-weight: bold;
}

.tcmobile
{
  height:600px;
  width: 100%;
  margin-top: 10px auto;
  font-family: 'Arial Narrow', arial;
  font-size: 15px;
  overflow-y:scroll; 
  text-align: justify;
  padding:0 30px;
}

.tcmobile h1
{
  font-family: 'Arial Narrow', arial;
  color:#0078ae;
  font-size: 16px;
  font-weight: bold;
}

.prizestable
{
  width: 100%;
}
.prizestable th,.prizestable td
{
  border: 1px solid black;
  padding: 4px;
}


/************* leader board *****************/
.leaderWeeks
{
  width: 750px;
  margin: 10px auto;
  height: 40px;
  position: relative;
  
}

.leaderWeeks .singleWeek
{
  width: 16%;

  display: inline-block;
  text-align: center;
  font-family: PizzaPressFill;
  font-size: 16px;
  background-color: #e1e1e1;
  height: 100%;
  padding-top: 10px;
  
  /*border-bottom: 2px solid #0078ae;*/

  border-top-right-radius: 1em;
  -moz-border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -o-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  -o-border-top-left-radius: 1em;
  -moz-border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  cursor: pointer;
}

.leaderWeeks .singleWeek:not(:first-of-type)
{
  margin-left: .25%;
}

.leaderWeeks .active
{
  display: inline-block;
  text-align: center;
  font-family: PizzaPressFill;
  font-size: 20px;
  background-color: #fff;
  color: #0078ae;
  height: 100%;
  padding-top: 3px;

  border-top: 2px solid #0078ae;
  border-left: 2px solid #0078ae;
  border-right: 2px solid #0078ae;
   border-bottom: none;
  border-top-right-radius: 1em;
  -moz-border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -o-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  -o-border-top-left-radius: 1em;
  -moz-border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}

.leaderContent
{
  width: 750px;
  margin: -10px auto;
  border: 2px solid #0078ae;
  border-bottom-right-radius: 1em;
  -moz-border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -o-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  -o-border-bottom-left-radius: 1em;
  -moz-border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  position: relative;
}

.leaderContent .leader
{
  width:730px;
  height: 59px;
  background:url('../img/game/pages/leader1.png');
  margin: 10px auto;
  position: relative;
}

.leaderContent .leader:hover
{
  width:730px;
  height: 59px;
  background:url('../img/game/pages/leader2.png');
  margin: 10px auto;
}

.leaderContent .leader .number
{
  font-family: PizzaPressFill;
  font-size: 18px;
  color:#0078ae;
  position: absolute;
  top:15px;
  left:22px;
}

.leaderContent .leader .picture
{
  height: 46px;
  width:46px;
  position: absolute;
  top:13px;
  left:70px;
}

.leaderContent .leader .name
{
   font-family: 'Arial Narrow', arial;
  font-size: 22px;
  color:#fff;
  position: absolute;
  top:20px;
  left:150px;
}

.leaderContent .leader .score
{
  font-family: 'Arial Narrow', arial;
  font-size: 25px;
  color:#fff;
  position: absolute;
  top:18px;
  left:640px;
}


/********* leaderboard mobile **********/
#mobileGame .leaderWeeks
{
  width: 300px;
  margin: 10px auto;
  height: 40px;
  position: relative;
  
}

#mobileGame .leaderWeeks .singleWeek
{
  width: 45px;

  display: inline-block;
  text-align: center;
  font-family: PizzaPressFill;
  font-size: 12px;
  background-color: #e1e1e1;
  height: 100%;
  padding-top: 10px;
  
  border-bottom: 2px solid #0078ae;

  border-top-right-radius: 1em;
  -moz-border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -o-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  -o-border-top-left-radius: 1em;
  -moz-border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  cursor: pointer;

  white-space: nowrap;
}

#mobileGame .leaderWeeks .singleWeek:not(:first-of-type)
{
  margin-left: 1.7px;
}
#mobileGame .leaderWeeks .singleWeek:last-of-type
{
  margin-left: 2px;
}

#mobileGame .leaderWeeks .active
{
  display: inline-block;
  text-align: center;
  font-family: PizzaPressFill;
  font-size: 12px;
  background-color: #fff;
  color: #0078ae;
  height: 100%;
  padding-top: 5px;

  border-top: 2px solid #0078ae;
  border-left: 2px solid #0078ae;
  border-right: 2px solid #0078ae;
   border-bottom: none;
  border-top-right-radius: 1em;
  -moz-border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -o-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  -o-border-top-left-radius: 1em;
  -moz-border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}

#mobileGame .leaderContent
{
  width: 300px;
  margin: -12px auto;
  border: 2px solid #0078ae;
  border-bottom-right-radius: 1em;
  -moz-border-bottom-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -o-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  -o-border-bottom-left-radius: 1em;
  -moz-border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

#mobileGame .leaderContent .leader
{
  width:280px;
  height: 59px;
  background:url('../img/game/pages/leader1.png');
  margin: 10px auto;
  position: relative;
}

#mobileGame .leaderContent .leader:hover
{
  width:280px;
  height: 59px;
  background:url('../img/game/pages/leader2.png');
  margin: 10px auto;
}

#mobileGame .leaderContent .leader .number
{
  font-family: PizzaPressFill;
  font-size: 16px;
  color:#0078ae;
  position: absolute;
  top:17px;
  left:22px;
}

#mobileGame  .leaderContent .leader .picture
{
  height: 46px;
  width:46px;
  position: absolute;
  top:13px;
  left:60px;
}

#mobileGame .leaderContent .leader .name
{
  font-family: 'Arial Narrow', arial;
  font-size: 18px;
  color:#fff;
  position: absolute;
  top:22px;
  left:110px;
  width: 140px;
  height: 30px;
  overflow: hidden;
}

#mobileGame .leaderContent .leader .score
{
  font-family: 'Arial Narrow', arial;
  font-size: 20px;
  color:#fff;
  position: absolute;
  top:18px;
  left:240px;
}






/***********         how to page      ************/
.desktopSliderContainer
{
  /*border: 1px solid black;*/
  width:500px;
  height: 290px;
  position: absolute;
  top:197px;
  left:50%;
  margin-left: -250px;
}

.mobileSliderContainer
{
  /*border: 1px solid black;*/
  width:75vw;
  height: 118vw;
  position: absolute;
  top:63vw;
  left:50%;
  margin-left: -38vw;
}

.bx-wrapper img {
    margin: 0 auto;
}

.bxsliderbxSliderNavigator 
{
  /*border: 1px solid black;*/
  position: absolute;
  top:82%;
  left: 50%;
  width: 37%;
  min-width:240px;
  height:40px;
    transform: translate(-50%, 0);
     -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
    list-style: none;
    padding-top: 20px;
    text-align: center;
}



.bxsliderbxSliderNavigator li 
{
  
  background: #a7a7a7;
  color:#fff;
  width:24px;
  height: 24px;
  margin-right: 5px;
  display: inline;
  /*border:1px solid red;*/
  border-radius:10px;
  text-align: center;

}

.bxsliderbxSliderNavigator li span
{
  float: left;
  width:25px;
  height:25px;
  margin: 1px;
  background: #a7a7a7;
  color:white;
  font-family:PizzaPressFill;
  font-size:18px;
  border-radius:10px;
  cursor: pointer;
}

.bxsliderbxSliderNavigator li span.active
{
  background-color: #0078ae;
}

.bxsliderbxSliderNavigator2 
{
  /*border: 1px solid black;*/
  position: absolute;
  top:82%;
  left: 50%;
  width: 37%;
  min-width:240px;
  height:40px;
    transform: translate(-50%, 0);
     -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
    list-style: none;
    padding-top: 20px;
    text-align: center;
}



.bxsliderbxSliderNavigator2 li 
{
  
  background: #a7a7a7;
  color:#fff;
  width:24px;
  height: 24px;
  margin-right: 5px;
  display: inline;
  /*border:1px solid red;*/
  border-radius:10px;
  text-align: center;

}

.bxsliderbxSliderNavigator2 li span
{
  float: left;
  width:25px;
  height:25px;
  margin: 1px;
  background: #a7a7a7;
  color:white;
  font-family: PizzaPressFill;;
  font-size:18px;
  border-radius:10px;
  cursor: pointer;
}

.bxsliderbxSliderNavigator2 li span.active
{
  background-color: #0078ae;
}




/*********      winners         *********/
.winners
{
  margin-top: -92px;
  margin-left: -10px;
}

.winnersMobile
{
  margin-top: -12vw;
}

/*.winners .leaderContent
{
  margin-top: -12px;
}*/
.circlesImage
{
  display: inline-block;
  margin-left: 10px;
}

.circlesImage2
{
  display: inline-block;
  width: 100%;
}

.winner2desktop
{
  position: absolute;
  top:64px;
  left:56px;
  display: black;
  width:152px;
  height:152px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.winner1desktop
{
  position: absolute;
  top:52px;
  left:289px;
  display: black;
  width:172px;
  height:172px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.winner3desktop
{
  position: absolute;
  top:70px;
  left:546px;
  display: black;
  width:143px;
  height:143px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.name1desktop
{
  font-family: PizzaPressFill;
  font-size: 20px;
  color:#fff;
  position: absolute;
  top:205px;
  left:85px;
  width:85px;
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.name2desktop
{
  font-family: PizzaPressFill;
  font-size: 20px;
  color:#fff;
  position: absolute;
  top:213px;
  left:332px;
  width:85px;
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.name3desktop
{
  font-family: PizzaPressFill;
  font-size: 20px;
  color:#fff;
  position: absolute;
  top:202px;
  left:573px;
  width:85px;
  height: 20px;
  overflow: hidden;
  text-align: center;
}


.winner1mobile
{
  position: absolute;
  top:39px;
  left:89px;
  display: black;
  width:126px;
  height:127px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.winner2mobile
{
  position: absolute;
  top:281px;
  left:87px;
  display: black;
  width:125px;
  height:125px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.winner3mobile
{
  position: absolute;
  top:528px;
  left:89px;
  display: black;
  width:126px;
  height:125px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
}

.name1mobile
{
  font-family: PizzaPressFill;
  font-size: 16px;
  color:#fff;
  position: absolute;
  top:152px;
  left:108px;
  width:85px;
  height:19px;
  text-align: center;
  overflow: hidden;
}

.name2mobile
{
  font-family: PizzaPressFill;
  font-size: 16px;
  color:#fff;
  position: absolute;
  top:395px;
  left:105px;
  width:85px;
  height:19px;
  text-align: center;
  overflow: hidden;
}

.name3mobile
{
  font-family: PizzaPressFill;
  font-size: 16px;
  color:#fff;
  position: absolute;
  top:643px;
  left:105px;
  width:85px;
  height:19px;
  text-align: center;
  overflow: hidden;
}



.errmessageforwinners
{
  font-family: PizzaPressFill;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 60px;
  background: #fff;
  margin-top: 0;
  padding-top: 30px;
}



/************        top menu fixer       ************/
.playnowsmall
{
  margin: 25px 30px 0 0;
  cursor: pointer;
}

#step2 #game .headBar
{
  padding-top: 20px;
}

#step2 #game
{
  /*margin-bottom: -50px;*/
}

.winnersdown
{
  margin: 20px auto;
  display: block;
  width: 486px;
}

.playnowsmallfixer
{
  margin: 20px auto !important;
  display: block !important;
  width: 128px !important;
}
.leaderdown
{
  margin: 30px auto;
  width: 732px;
  display: block;
}

.abitmoreupbro
{
  margin-top: -380px;
  cursor: pointer;
}

.abitmoreupbro2
{
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  width: 228px;
  display: block !important;
  cursor: pointer;
}

.abitmorerightbro
{
  margin-left: 280px;
}