/*Reset*/
*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
body{font:normal 13px Helvetica;width:810px;//overflow:hidden;position: relative}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block}
a,area,img{text-decoration:none;outline:0;border:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h2{font:normal 45px KBReindeerGamesMedium,Arial;color:#ffdd2a;margin-bottom:15px}
a{color:#ffdd2a}
p,ol{margin-bottom:10px}
ol{padding-left:27px}
/*General*/
.clearfix{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.bold{font-weight: bold}
.nomargin{margin:0}
.nopadding{padding:0}
.noborder{border:0}
.left{float:left}
.right{float:right}
.full{width:100%}
.text-center{text-align:center}
.text-right{text-align:right}
.center{margin:0 auto}
.noliststyle{list-style:none}
.li-inline > li{display:inline}
.li-left > li{float:left}
.half{width:50%}
.full{width:100%}
form > div{margin-bottom:10px;font-size:18px}
label{width:30%;display:inline-block}
input[type="text"]{width:65%;border:0;height: 25px}
input[type="reset"]{width:103px;height: 34px;background:url(../img/button_reset.png) no-repeat;border:0;text-indent:9999px;cursor:pointer}
/*Style*/
.leaderboard{position: absolute;top: 407px;left: 54px;width:710px}
.leaderboard > p{font:normal 18px KBReindeerGamesMedium,Arial;color:#fff;margin:28px 0 14px}
.topten div{float:left;margin:0 10px 21px 0}
.topten span{display:block;background:#ffdd2a;font:normal 20px KBReindeerGamesMedium,Arial;text-align:center;margin-bottom:6px;padding:3px 0 1px}
.topten img{width: 131px;height: 131px}
.topten p{font:normal 13px HelveticaNeueLight,Arial;color:#fff;width: 131px;word-break: break-word}
.week a{background:url(../img/week_bg.png) no-repeat;width:112px;height:35px;text-align:center;font:normal 21px KBReindeerGamesMedium,Arial;color:#fff;padding:7px 21px;opacity:0.5; margin-top:-6px}
.week a.active,.week a:hover{opacity:1}
.orange.fancybox-opened .fancybox-skin,.reset.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 0 10px rgba(0,0,0,0);-moz-box-shadow:0 0 10px rgba(0,0,0,0);box-shadow:0 0 10px rgba(0,0,0,0);-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0}
.reset.fancybox-opened .fancybox-image{max-width: none;max-height: none;width: auto;height: auto}
.reset .fancybox-skin{background:transparent;padding:0px!important}
.orange .fancybox-skin{background:#ee652e;padding:5px!important;color:#fff}
.orange .fancybox-inner{padding:25px 30px 20px 30px}
.orange.congrate .fancybox-inner{overflow: visible!important;height: 280px!important;width:710px!important}
.orange.register .fancybox-inner{overflow: visible!important;height: 270px!important;width:710px!important}
.orange .fancybox-outer{border:2px dotted #fff}
.orange .fancybox-close{background: url('../img/close.png') no-repeat;top:14px;right:14px;width:24px;height:25px}
#congrat table{font:normal 16px KBReindeerGamesMedium,Arial;}
#congrat table tr{display:block;margin-bottom:10px}
#congrat table tr td.title{width:190px}
#congrat table tr td.ops{width:20px}
.total{font-size:70px;position: absolute;margin: -5px 4px}
.red_circle{background:#e21d39;width: 21px;height: 30px;padding: 6px;border-radius: 15px;}
.you_have_won{background:url(../img/congrate_bg.png) no-repeat;width:312px;height:150px;padding: 45px 0 0;margin: 0 0 25px;text-align: center}
.you_have_won ul{margin: 0 0 15px;list-style:none}
.you_have_won ul li:nth-child(1){width: 86%;margin: 0 auto;}
.button{text-align:center}
.countdown {font:normal 11px KBReindeerGamesMedium,Arial;color:#fff;position: absolute;top: 128px;right: 242px;text-align: center}
.countdown span{font-size: 65px;display: block;line-height: 0.8}
.freebies{position: absolute;bottom: 135px;right: 22px}
.freebies .gone{filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */}
.indicator {position: relative}
.indicator > span {height: 16px;background: #1979ac;display: block;position: absolute;z-index: 1}
.indicator > span img {position: absolute;margin: -18px 0px 0 0;right: 0;z-index: 10}
.indicator{font:normal 13px KBReindeerGamesMedium,Arial;color:#fff;position: absolute;left: 240px;bottom: 299px;width:549px}
.time div{background:#22526b;padding:2px 3px 1px;height: 16px;position:relative}
.time div span{position: absolute;right:0;z-index: 1;padding:0px 5px}
.time div+div{background:#0c2c3d;}
.puzzle{position: absolute;top: 315px;left: 50px}
.puzzle .item{background-repeat:no-repeat;width: 117px;height: 78px;margin: 5px 0 0;float:left}
.error{color:#ffdd2a}

.reset.fancybox-opened .fancybox-image{max-width: none;max-height: none;width: auto;height: auto}