body {font-family: Helvetica;background: #fdfdfd;font-size: 13px;color: #7c7c7c;}
label, input, button, select {font-size: 13px;}
input[type=text], select {color: #a7a7a7;}
.lowercase{text-transform:lowercase}
.center{text-align:center!important;}

body > .container-fluid { padding: 0;background: #fafafa;}
#wrapper {position: relative;float: left;border-top: 1px solid #d8d8d8;width: 100%;overflow: hidden;}

#menu {width: 228px;float: left;position: absolute;left: 0;top: 0;overflow: visible;margin-bottom: -99999px;padding-bottom: 99999px;
  background: #f2f3f4;box-shadow: 0px 0px 3px 2px #f0f0f0;border-right: 1px solid #d8d8d8;}
#menu > a {display: block;padding: 0 10px;background: #fafafa;}
#menu > div > ul{list-style: none;float: left;margin:0 0 15px;padding: 0;display: block;width: 100%;background: #f2f3f4;border-top: 1px solid #d8d8d8;}
#menu > div > ul > li{display: block;height: 41px;line-height: 41px;border-bottom: 1px solid #d8d8d8;box-shadow: 0 1px 0 0 #fafafb;position: relative;overflow: hidden;padding: 0;margin: 0;background:#04709e}
#menu > div > ul > li:hover{background:#00455e;}
#menu > div > ul > li.active{position: relative;overflow: visible;box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 #fafafb;}
#menu > div > ul > li a {display: block;width: auto;margin: 0;height: 41px;line-height: 41px;text-decoration: none;font-size: 13px;font-weight: 600;color: #fff;padding: 0 0 0 12px;}
#menu > div > ul > li.active > a{background:#00455e;color: #fff;height: 40px;line-height: 40px;}
#menu > div > ul > li.active > a:hover{background: #04709e;}

.stats {padding: 7px 7px 7px 10px;margin: 0 10px 2px;background: #f2f3f4;border: none;background-color: #f9f9f9;color: #7c7c7c;
border: 1px solid #d8d8d8;box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;}

#content {position: relative;overflow: hidden;margin: 0 0 0 229px;min-width: 320px;min-height: 761px;padding: 0 0 15px;background:#fafafa;}
#content > h3{margin: 18px 15px 15px;font-size: 24.5px;line-height: 30px;font-family: Helvetica;font-weight:400;color: #7c7c7c;}
.inner {padding: 0 15px;position: relative;}
.inner > div {background: #fff;margin: 0 auto 15px;position: relative;border: 1px solid #d8d8d8;box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;padding: 15px;}

.table {margin: 0;position: relative;}
.table th, .table td {border-top-color: #ebebeb;}
.table-bordered {border-color: #d8d8d8;box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;font-size: 10pt;}
.table-bordered th, .table-bordered td {border-color: #d8d8d8;}
.table thead {cursor: pointer;background: #ccc;}
.table thead .sorting,.table thead .sorting_desc,.table thead .sorting_asc{background-repeat: no-repeat;background-position:top right;}
.table thead .sorting {background-image: url('both.png');}
.table thead .sorting_desc {background-image: url('desc.png');}
.table thead .sorting_asc {background-image: url('asc.png');}
#DataTables_Table_0_length select {width: 80px;}
#DataTables_Table_0_filter {text-align: right;}
#DataTables_Table_0_info {padding: 20px 0;}

.dataTables_paginate {text-align: right;}
.pagination ul {background: #fff;box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;}
.pagination ul > li > a, .pagination ul > li > span {border-color: #d8d8d8;background: #fff;}
.pagination ul > .active > a, .pagination ul > .active > span {border-color: #04709e;background: #04709e!important;color: #fff;font-weight: 600;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;}
.pagination ul > li > a, .pagination ul > li > span {border-color: #d8d8d8;background: #fff;}

.mr01{color:red;}
.mr02{color:brown;}
.mr03{color:blue;}
.mr04{color:orange;}
.mr05{color:grey;}
.mr06{color:cyan;}
.mr07{color:green;}