body,html
{
	margin:0 !important;
	padding:0 !important;
}


.desktopContent
{
	width:100%;
	max-width: 989px;
	margin: 0 auto;
	height:auto;
}

.desktopContent .desktopbackround
{
	width:100%;
	height:auto;
}

.mobileContent
{
	width:100%;
	max-width: 760px;
	margin: 0 auto;
	height:auto;

}

.mobileContent .mobilebackround
{
	width:100%;
	height:auto;
}

.howto
{
	width:100%;
	max-width: 989px;
	margin: 0 auto;
	height:auto;
}

.howtoDesktopContent
{
	width:100%;
	max-width: 989px;
	margin: 0 auto;
	height:auto;
	position: relative;
}

.howtoDesktopContent .sliderbackground
{
	width:100%;
	height: auto;
}

.howtoMobileContent
{
	width:100%;
	max-width: 760px;
	margin: 0 auto;
	height:auto;
	position: relative;
}


.sliderbackground
{
	width:100%;
	height: auto;
}


.desktopSliderContainer
{
	position: absolute;
	top:42%;
	left: 50%;
	width: 87%;
	height:40%;
    transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
}

.mobileSliderContainer
{
	position: absolute;
	top:26%;
	left: 50%;
	width: 81%;
	height:66%;
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    /*border: 1px solid black;*/
}


.bxsliderbxSliderNavigator 
{
	position: absolute;
	top:82%;
	left: 50%;
	width: 37%;
	min-width:340px;
	height:6.5%;
    transform: translate(-50%, 0);
     -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    /*border: 1px solid black;*/
    list-style: none;
    padding-top: 20px;
}



.bxsliderbxSliderNavigator li 
{
	
	background: #fff;
	width:38px;
	height: 38px;
	margin-right: 3px;
	float: left;
	border:1px solid red;
	border-radius:10px;
	text-align: center;

}

.bxsliderbxSliderNavigator li span
{
	float: left;
	width:34px;
	height:34px;
	margin: 1px;
	background: #0874ae;
	color:white;
	font-size:25px;
	border-radius:10px;
	cursor: pointer;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid red;
	margin-top: -5px;
	margin-left: 13px;
}




@media all and (max-width: 770px)
{
	.bx-next, .bx-prev
	{
		display: none;
	}

	.bxslider img
	{
		width: 100%;
		height: auto;
	}
}







/*
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.desktop
{
	margin: 0 auto !important;
	padding: 0 !important;
	max-width: 989px;
	width:100%;
	height: auto;
}

.desktop img
{
	width:989px;
	height: auto;
}

.clickme
{
	cursor: pointer;
}

#howto
{
	max-width: 989px;
	margin:0 auto;
}

.ourslidercontainer
{
	/*width:850px;
	height:469px;
	border:1px solid black;*/
/*	position: absolute;
	z-index: 200;
	top:489px;
	left: 50%;
    transform: translate(-25%, 0);
}
.bxsliderbxSliderNavigatorContainer
{
	width: 240px;
	text-align: center;

}

.bxsliderbxSliderNavigator
{
	list-style: none;
	margin: 1.5vw auto;
	width: 360px;
}



*/